<div class="d-flex flex-column align-items-center">
  <button *ngIf="auth.currentUser" (click)="addNewItem()" type="button" class="addItemButton btn-primary"
    data-bs-toggle="modal" data-bs-target="#addItemModal">
    <i class="bi bi-plus-lg"></i>
  </button>

  <!-- Search bar -->
  <div class="container-fluid row justify-content-center my-3">
    <div class="col-12 col-lg-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search" aria-label="search"
          aria-describedby="item-search-btn" (keyup.enter)="searchItem(searchQuery)" [(ngModel)]="searchQuery">
        <button class="btn btn-outline-primary" type="button" id="item-search-btn" (click)="searchItem(searchQuery)">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Spinner -->
  <div *ngIf="!items" class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <!-- Item List -->
  <div class="w-100">
    <app-item-list [items]="items" (selectedItemIDEvent)="selectItem($event)"></app-item-list>
  </div>

  <!-- Page navigation -->
  <nav *ngIf="numPages > 0" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled' : isFirstPage}" (click)="prevPage()"><a
          class="page-link">Previous</a></li>
      <ng-container *ngFor="let page of pages">
        <li class="page-item" [ngClass]="{'active' : currentPage === page}" (click)="setPage(page)"><a
            class="page-link">{{page}}</a></li>
      </ng-container>
      <li class="page-item" [ngClass]="{'disabled' : isLastPage}" (click)="nextPage()"><a class="page-link">Next</a>
      </li>
    </ul>
  </nav>

  <!-- Edit Item -->
  <div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editItemModalLabel">Edit Item</h5>
          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
            <fa-icon class="fa-lg" [icon]="faTimes"></fa-icon>
          </button>
        </div>
        <form *ngIf="selectedItem" #editItemForm="ngForm">
          <div class="modal-body">
            <div class="form-group mb-2">
              <label for="name">Name</label><br>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="selectedItem.name" name="name"
                required #nameInput="ngModel">
              <div [hidden]="nameInput.valid" class="alert-sm alert-danger sm">
                Name is required
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="description">Description</label><br>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="selectedItem.description"
                name="description" required #descriptionInput="ngModel">
              <div [hidden]="descriptionInput.valid" class="alert-sm alert-danger sm">
                Description is required
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!editItemForm.valid" (click)="updateItem()"
              data-bs-dismiss="modal">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Delete Item -->
  <div class="modal" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteItemModalLabel">Delete Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form *ngIf="selectedItem">
            <div class="form-group mb-2">
              <label for="name">Name</label><br>
              <input type="text" class="form-control form-control-sm" [ngModel]="selectedItem.name" name="name"
                readonly>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteItem(selectedItem)"
            data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Item -->
  <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addItemModalLabel">New Item</h5>
          <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
            <fa-icon class="fa-lg" [icon]="faTimes"></fa-icon>
          </button>
        </div>
        <div class="modal-body">

          <form *ngIf="newItem" #addItemForm="ngForm">

            <div class="form-group mb-2">
              <label for="name">Name</label><br>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="newItem.name" name="name" required
                #nameInput="ngModel">
              <div [hidden]="nameInput.valid || nameInput.pristine" class="alert-sm alert-danger sm">
                Name is required
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="description">Description</label><br>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="newItem.description"
                name="description" required #descriptionInput="ngModel">
              <div [hidden]="descriptionInput.valid  || descriptionInput.pristine" class="alert-sm alert-danger sm">
                Description is required
              </div>
            </div>

            <div id="uploader">
              <progress [value]="uploadPercent | async" max="100" id="uploadProgress">0</progress>
              <input type="file" value="upload" id="uploadButton" (change)="getUploadFile($event)" #itemImageInput>
            </div>


            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" (click)="resetAddItemForm()"
                data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" [disabled]="!addItemForm.valid" (click)="addItem()"
                data-bs-dismiss="modal">Save</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>


  <!-- Item Details -->
  <div class="modal fade" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="itemDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark itemDetailsModelHeader">
          <h5 class="modal-title" id="itemDetailsModal">{{selectedItem?.name}}</h5>
          <button type="button" class="btn text-white" data-bs-dismiss="modal" aria-label="Close">
            <fa-icon class="fa-lg" [icon]="faTimes"></fa-icon>
          </button>
        </div>
        <div class="modal-body">
          <app-item-details [itemId]="selectedItem?.id"></app-item-details>
        </div>
      </div>
    </div>
  </div>

</div>