
<div class="userTable m-1">
  <table class="table table-dark table-striped table-hover table-sm" >
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let user of users | async" >
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td class="click" (click)='selectUser(user)' data-toggle="modal" data-target="#editUserModal">Edit</td>
        <td class="click" (dblclick)='deleteUser(user)' >Delete</td>
    </tr>
  </table>
</div>


<!-- Edit User -->
<div *ngIf="selectedUser" class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Edit User: {{selectedUser.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form #editUserForm="ngForm">

          <div class="form-group">
            <label for="name">Name</label><br>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="selectedUser.name" name="name"  required #name="ngModel">
            <div [hidden]="name.valid" class="alert-sm alert-danger sm">
                Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="age">Age</label><br>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="selectedUser.age" name="age" >
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!editUserForm.valid" (click)="updateUser()" data-dismiss="modal">Save</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


<!-- Add User -->
<button (click)="addNewUser()" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addUserModal">
  Create New User
</button>

  <!-- Modal -->
  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="false">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form *ngIf="newUser" #addUserForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label><br>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="newUser.name" name="name" required #name="ngModel">
              <div [hidden]="name.valid || name.pristine" class="alert-sm alert-danger sm">
                  Name is required
              </div>
            </div>
            <div class="form-group">
              <label for="age">Age</label><br>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="newUser.age" name="age" >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" [disabled]="!addUserForm.valid" (click)="addUser()" data-dismiss="modal">Save</button>
            </div>
            
          </form>

        </div>
      </div>
    </div>
  </div>
