<div class="item-list">
  <div class="item-tile-container" *ngFor="let item of items">
    <div class="item-tile" (click)="selectItem(item)" data-bs-toggle="modal" data-bs-target="#itemDetailsModal">
      <img class="item-tile-image" [src]="item.thumbnailURL">
      <div class="item-info">
        <p class="item-name">{{item.name}}</p>
        <p class="item-description ellipsis-multiline">{{item.description}}</p>
        <div class="d-flex justify-content-between align-items-baseline w-100">
          <app-like-dislike [docId]="item.id" [isInteractive]="false"></app-like-dislike>
          <div>{{getItemDate(item) | date:'mediumDate' }}</div>
        </div>
      </div>
    </div>
    <div class="item-action-list">
      <button class="btn btn-primary icon-btn item-action-btn" (click)="selectItem(item)" data-bs-toggle="modal"
        data-bs-target="#editItemModal">
        <fa-icon class="fa-lg" [icon]="faEdit"></fa-icon>
      </button>
      <button class="btn btn-danger icon-btn item-action-btn" (click)="selectItem(item)" data-bs-toggle="modal"
        data-bs-target="#deleteItemModal">
        <fa-icon class="fa-lg" [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
</div>
