

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-1">
    <ul class="nav navbar-nav flex-row navbarmenu">
        <li class="nav-item ">
            <a class="navbar-brand font-weight-bold" routerLink="/">Items</a>
        </li>
        <li class="nav-item ">
            <a class="navbar-brand font-weight-bold" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand font-weight-bold" routerLink="/about">About</a>
        </li>
    </ul> 
    <ul class="nav navbar-nav flex-row ml-auto">
        <li class="nav-item ">
                <div *ngIf="user">
                        <div class="mr-3" *ngIf="user">
                            <img class="userPhoto" src="{{user.photoURL}}?sz=32"  alt="User Photo">
                            {{user.displayName}}
                            <a class="" href="javascript: void(0)" (click)="auth.logout()">Logout</a>
                        </div>   
                    </div>
                    
                <div *ngIf="user === null">
                    <a class="navbar-brand font-weight-bold" href="javascript: void(0)" (click)="auth.googleLogin()">Login</a>
                </div>
        </li>
    </ul>
</nav>



<div>
    <router-outlet></router-outlet>
</div>
