<div class="itemDetails" *ngIf="selectedItem | async as item">
    <img class="itemImage" [src]="item.thumbnailURL">
    <div class="itemDetailsInfo">
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
      <h5>${{item.price}}</h5>
    </div>
    <hr>

    <form *ngIf="auth.getCurrentUser()" #commentForm="ngForm">

      <div class="commentsForm form-group">
        <label for="comment">Comment</label><br>
        <textarea type="text" maxlength="500" class="comments form-control form-control-sm" [(ngModel)]="comment" name="commentInput" required #commentInput="ngModel"></textarea>
        <button type="submit" class="btn btn-primary" [disabled]="!commentForm.valid">Save</button>
      </div>

    </form>

</div>


