
.itemDetailsImage {
  height: 20em;
  object-fit: contain;
}

.itemName {
  font-size: 1.8em;
} 

.itemDetailsInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  font-size: 1.3em;
  width: 100%;
}

.commentGroup {
  max-width: 40em;
}

.commentHeader {
  display: flex;
  align-items: baseline;
  line-height: 3em;
}

.commentUser {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 600;
}

.comment {
  font-size: 1.3em;
  white-space: pre-wrap;
}
