
.item-details-image {
  height: 20em;
  object-fit: contain;
  max-width: 100%;
}

.item-name {
  font-size: 1.8em;
} 

.item-details-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  font-size: 1.3em;
  width: 100%;
}

.comment-group {
  max-width: 40em;
}

.comment-header {
  display: flex;
  align-items: baseline;
  line-height: 3em;
}

.comment-user {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 600;
}

.comment {
  font-size: 1.3em;
  white-space: pre-wrap;
}
