<div class="itemDetails" *ngIf="selectedItem | async as item">
    <img class="itemImage" [src]="item.thumbnailURL">
    <div class="itemDetailsInfo">
      <p class="itemName">{{item.name}}</p>
      <p>{{item.description}}</p>
      <p class="itemPrice">${{item.price}}</p>
    </div>
    <hr>

    <form *ngIf="auth.user | async as user" #commentForm="ngForm">
      <div class="commentForm form-group">
        <label for="comment">Comment</label><br>
        <div class="commentInput">
          <textarea type="text" maxlength="300" rows=4 class="form-control form-control-sm" [(ngModel)]="comment.comment" name="commentInput" required #commentInput="ngModel"></textarea>
          <div [hidden]="commentInput.valid  || commentInput.pristine" class="alert-sm alert-danger sm">
            Empty.
          </div>
          <div [hidden]="maxLinesValid || commentInput.pristine" class="alert-sm alert-danger sm">
            Too many lines.
          </div>
        </div>
          <button type="submit" class="btn btn-primary" [disabled]="!commentForm.valid" (click)="addComment()">Save</button>
      </div>
    </form>

    <div class="commentsList"  *ngFor="let comment of comments">
      <div class="commentUser">{{comment.userId}}</div>
      <p class="comment">{{comment.comment}}</p>
      <p class="timestamp">{{comment.timestamp | date:'short'}}</p>
    </div>  
    
    <button (click)='getMoreComments()'>Load more comments</button>

</div>


