/* You can add global styles to this file, and also import other style files */
.navbar {
    color: white;
}

.navbarmenu li:hover a {
    box-shadow: 0 1.1em 0 -1em white inset;
}

.click:hover {
    cursor: pointer;
}

body { 
    margin: 0; 
    font-size: 62.5%;
}

.userTable, .itemTable{
    font-size: 1.3em;
}

.userPhoto {
    border-radius: 50%;
}
