/* You can add global styles to this file, and also import other style files */
ul li:hover a {
    box-shadow: 0 2px white inset;
}

.click:hover {
    cursor: pointer;
}

body { 
    margin: 0; 
    font-size: 62.5%;
}

.userTable, .itemTable{
    font-size: 1.3em;
}
