/* You can add global styles to this file, and also import other style files */
a {
    color: inherit;
}

.navbar {
    color: white;
}

.navbarmenu li:hover a {
    box-shadow: 0 1.1em 0 -1em white inset;
}

.click:hover {
    cursor: pointer;
}

body { 
    margin: 0; 
    font-size: 62.5%;
}

.userTable, .itemTable{
    font-size: 1.3em;
    max-width: 60%;
    margin: auto;
}

.userPhoto {
    border-radius: 50%;
}

.deleteCell, .editCell {
    text-align: center;
    vertical-align: middle !important;
}

.deleteCell:hover {
    background-color: rgba(255, 50, 50, 0.6);
}

.editCell:hover {
    background-color: rgba(50, 255, 50, 0.6);
}

#itemList {
    max-width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#itemList > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 10em;
    border-radius: 5px;
    background-color: rgba(52, 58, 64, 0.1);
    margin: 0.1em;
}

#itemList > div:hover {
    box-shadow: 2px 1px 1px 0 rgba(52, 58, 64, 1);;
    transform: translate(-2px, -1px);
    cursor: pointer;
    /*transition: background-color 0.5s ease-in;*/
}

#itemImage {
    margin: 10px;
}

#itemInfo {
    margin: 10px;
}